.App {
  text-align: center;
}

.App-header {
  background-color: skyblue;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: skyblue;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  bottom:0;
  position: absolute;
  color: white;
}

